/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.body   {
    font-family: 'Roboto', sans-serif;
} 
.icon-block {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 400px;
}

.recipe-block {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}
.fa, .fas {
    color: orange;
    padding: 5px;
    font-weight: 900;
}

.recipe-search {
    color: orange;
    width: 100%;
    display: flex;
    align-items: center;
}
.header-search {
    width: 200px;
}
.waves-effect {
    border: none;
}

.section.no-pad-bot {
    min-height: 80vh;
}

.truncate-text {    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}