{% block nav %} 
<nav class="light-blue lighten-1" role="navigation">
    
    <div class="nav-wrapper container">
        
        <a id="logo-container" href="/" class="brand-logo">Recipify</a>
        
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        
        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <div class="container">
        <div class="row center">
            <div class="col s4">
            <!-- Search Box -->
           
                <form class="recipe-search center" action="">
                    <input type="text" class="form-control" placeholder="Search Recipes" id="word_search" name="word_search">
                                
                    <button class="waves-effect waves-light" type="submit" name="action"><i class="fa fa-search"></i></button>        
                </form>
            </div>
            <div class="col s8">    
            </div> 
        </div>
</nav>
{% endblock %}