{% extends "base.html" %}
{% block content %}
<div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">What the...</h1>
            <h5 class="header col s12 light">This bloody thing isn't working...</h5>
            <div class="row center">
                <div class="tenor-gif-embed" data-postid="17025985" data-share-method="host" data-width="100%" data-aspect-ratio="1.8444444444444446">
                </div>              
            </div>            
        </div>
    </div>
<!-- JS for GIF -->
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}