{% extends "base.html" %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Recipify</h1>
            <div class="row center">
                <h5 class="header col s12 light">Making food simple by sharing tastes</h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Login</a>
                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Register</a>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Search Recipes</a>
            </div>
            <br><br>
            
            <div class="row">
            <h2 class="center light-blue-text">Latest Recipes</h2>
            {% for recipe in all_recipes %}
                <div class="col s12 m4">
                    <div class="icon-block">
                     <!-- Recipe Image -->
                        <img src="{{recipe.recipe_image}}"class="" class="materialboxed" width="100%" alt="{{recipe.recipe_name}}">
                     <!-- Recipe INTRO -->
                        <h5 class="center">{{ recipe.recipe_name }}</h5>
                        <h6 class="center"><i class="fas fa-clock"></i>{{ recipe.recipe_cook_time }}</h6>
                        <h6 class="center"><i class="fas fa-utensils"></i> {{ recipe.recipe_servings }}</h6>
                        <!-- <p class="light">{{ recipe.recipe_instructions }}</p>
                        <p class="light">{{ recipe.recipe_ingredients }}</p> -->
                    </div>
                </div>
            {% endfor %}
            </div>    
        </div>
    </div>
    
    
{% endblock %}