{% extends "base.html" %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Recipify</h1>
            <div class="row center">
                <h5 class="header col s12 light">Making food simple by sharing tastes</h5>
            </div>
            <div class="row center">
                <div class="col s12 m4">
                </div>
                <div class="col s12 m4">
                    <!-- Search Box -->
                    <!-- <form class="recipe-search center" action="{{url_for('search_recipes')}} method="POST>
                        <input type="text" class="form-control" placeholder="Search Recipes by keyword" id="search_recipes" name="search_recipes" required>
                        
                        <button class="waves-effect waves-light transparent" type="submit" name="action"><i class="fa fa-search"></i></button>
                        
                    </form> -->
                </div>
                <div class="col s12 m4">
                </div>
            </div>
            <br><br>
            
            <div class="row center">
            <h2 class="center light-blue-text">Latest Recipes</h2>
            {% for recipe in recipes %}
                <div class="col s12 m4">
                    <div class="icon-block">
                     <!-- Recipe Image -->
                        <img src="{{recipe.recipe_image}}"class="" class="materialboxed" width="100%" height="33%" alt="{{recipe.recipe_name}}">
                     <!-- Recipe INTRO -->
                        <h5 class="center">{{ recipe.recipe_name }}</h5>
                        <h6 class="center"><i class="fas fa-clock"></i>{{ recipe.recipe_cook_time }}</h6>
                        <h6 class="center"><i class="fas fa-utensils"></i> {{ recipe.recipe_servings }}</h6>
                        <!--Full Recipe View Button -->
                        <a href="{{url_for('recipe_display', recipe_id=recipe._id)}}" class="btn waves-effect waves-light orange">View Full Recipe</a>
                        <!-- <p class="light">{{ recipe.recipe_instructions }}</p>
                        <p class="light">{{ recipe.recipe_ingredients }}</p> -->
                    </div>
                </div>
            {% endfor %}
            </div>    
        </div>
    </div>
    
    
{% endblock %}