{% extends "base.html" %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Recipify</h1>
            <div class="row center">
                <h5 class="header col s12 light">Making food simple by sharing tastes</h5>
            </div>
            <br><br>
            <div class="row center">
            <h2 class="center light-blue-text">Found Recipes</h2>
            {% for recipe in recipes %}
                <div class="col s12 m4">
                    <div class="icon-block">
                     <!-- Recipe Image -->
                        <div class="thumbnail">
                            <img src="{{recipe.recipe_image}}" class="materialboxed" alt="{{recipe.recipe_name}}">
                        </div>
                     <!-- Recipe INTRO -->
                        <h5 class="center">{{ recipe.recipe_name }}</h5>
                        <h6 class="center"><i class="fas fa-clock"></i>{{ recipe.recipe_cook_time }}</h6>
                        <h6 class="center"><i class="fas fa-utensils"></i> {{ recipe.recipe_servings }}</h6>
                        <!--Full Recipe View Button -->
                        <a href="{{url_for('recipe_display', recipe_id=recipe._id)}}" class="btn waves-effect waves-light orange">View Full Recipe</a>
                    </div>
                </div>
            {% endfor %}
            </div>    
        </div>
    </div> 
{% endblock %}